.text-gradient {
    background: linear-gradient(90deg, #f39c12, #e74c3c, #9b59b6, #3498db);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.click{
    border-radius: 50px;
    
}